<!-- Tours Grid-->
<section class="page-section bg-light" id="tours">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase"><%= t "tour.list_tour" %></h2>
      <h3 class="section-subheading text-muted"><%= t "tour.tour_subheading" %></h3>
    </div>
    <div class="row">
       <% for %>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="tour-item">
            <%= link_to "tourModal#{n}", class: "tour-link", "data-toggle": "modal" do %>
              <div class="tour-hover">
                <div class="tour-hover-content"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <%= image_tag "tour/0#{n}-thumbnail.jpg", class:"img-fluid" %>
            <% end %>
            <div class="tour-caption">
              <div class="tour-caption-heading">Title</div>
              <div class="tour-caption-subheading text-muted">Description</div>
            </div>
          </div>
        </div>
       <% end %>
    </div>
  </div>
</section>
