<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Title</h2>
              <ul class="list-inline">
                <li>Start date: December 2020</li>
                <li>End date: December 2020</li>
                <li>Price: 3000000VND</li>
              </ul>
              <%= image_tag "tour/0#{n}-thumbnail.jpg", class:"img-fluid" %>
              <p>Description--- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio laborum aperiam, nisi eius tenetur qui</p>
              <p class="item-intro text-muted">Rating</p>
              <div>Reviews</div>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                <%= t "book_tour" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
