<header class="masthead">
  <div class="container">
    <h2 class="masthead-subheading"><%= t "booking.welcome1" %></h2>
    <h1 class="masthead-heading text-uppercase"><%= t "booking.welcome2" %></h1>
    <%= link_to t("booking.booking_now"), "#tours", class: "btn btn-success btn-xl text-uppercase aa" %>
  </div>
</header>
